* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

header {
  color: white;
  width: 100%;
}

#header-top {
  background-image: linear-gradient(to right, #143e32, #2c734b);
  height: 60px;
}

#header-top-items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  align-items: center;
  height: 100%;
  margin: 0px 15px;
}

#logo {
  width: 120px;
  height: auto;
  margin-right: 5px;
  margin-top: 15px;
}

#search-section {
  display: flex;
  direction: row;
  height: 40px;
}

#departments-dropdown {
  width: 52px;
  height: 40px;
  color: #0f1111;
  border-radius: 4px 0 0 4px;
  border: none;
  background-color: #e6e6e6;
  font-size: 14px;
  padding-left: 5px;
}

#search-bar {
  width: 1142px;
  height: 40px;
  border: none;
  font-size: 16px;
  padding-left: 10px;
}

#search-button {
  background-color: #a9176f;
  width: 45px;
  height: 40px;
  border-radius: 0px 4px 4px 0px;
  border: none;
  font-size: 20px;
  color: white;
  font-weight: normal;
}
#nav-header {
  background-color: #205749;
  height: 40px;
}
#nav-header-items {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  font-size: 14px;
  font-weight: 14px;
  height: 100%;
  margin: 0px 15px;
  gap: 20px;
}
.bar-icon {
  margin-right: 6px;
  font-size: 24px;
}
#main-section {
  background-color: white;
  height: 1080px;
  width: auto;
  margin: 0px 202px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 20px;
  padding-top: 20px;
}

#small-photos {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 10px;
}

.small-photo {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  border: black 1px solid;
}
#main-photo {
  width: 460px;
  height: 460px;
  border: none;
  position: relative;
}
#photos-section {
  display: flex;
  flex-direction: row;
  margin: 20px;
  position: sticky;
  top: 0;
  left: 0;
}
#product-title {
  font-size: 24px;
  font-weight: normal;
}
.checked {
  color: orange;
}
#rating {
  margin-top: 5px;
  font-size: 14px;
}
#visit-store {
  font-size: 16px;
  margin-top: 5px;
}
#couting-buys {
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 5px;
}
#bought-100 {
  font-weight: bold;
}
hr {
  border: none;
  height: 1px;
  background-color: gray;
  width: 100%;
}
#shipping {
  font-size: 14px;
  color: gray;
  margin-top: 20px;
  margin-bottom: 5px;
}
#color {
  font-size: 14px;
  color: gray;
}
#color-matching {
  font-size: 13px;
  font-weight: bold;
  color: black;
}
.card {
  width: 80px;
  height: 80;
  border: 1px solid black;
  border-radius: 5px;
}
#card-color-black {
  background-color: black;
  width: 72px;
  height: 72px;
  margin: 2px;
}
.card-price {
  font-size: 12px;
  padding-left: 5px;
}
#card-color-green {
  background-color: green;
  width: 72px;
  height: 72px;
  margin: 2px;
}
#card-color-orange {
  background-color: orange;
  width: 72px;
  height: 72px;
  margin: 2px;
}
#card-color-gray {
  background-color: gray;
  width: 72px;
  height: 72px;
  margin: 2px;
}
#colors-section {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#price {
  margin-top: 20px;
  font-size: 24px;
  font-weight: normal;
}
.bullet-list {
  font-size: 14px;
  margin-bottom: 8px;
}
#report {
  font-size: 14px;
  color: #2862a1;
}
.similar-item-photo {
  width: 70px;
  height: 100px;
}
#similar-item-section {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 2px;
  margin-bottom: 10px;
}
#similar-item-details {
  color: #2862a1;
}
#similar-item-h3 {
  margin-top: 10px;
}
#purchase-section {
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
  height: 700px;
}
#price-aside {
  font-size: 24px;
  margin-bottom: 20px;
}
.details-aside {
  font-size: 14px;
  margin-bottom: 20px;
}
#deliver-aside {
  color: #2862a1;
  font-size: 12px;
  margin-bottom: 20px;
}
#stock-aside {
  color: green;
  font-size: 18px;
}
#quantity {
  background-color: rgb(237, 235, 235);
  border-radius: 10px;
  align-items: center;
  margin-left: 20px;
  margin-top: 10px;
  width: 200px;
  height: 40px;
  font-size: 16px;
}
#add-to-cart-button {
  background-color: #f9d814;
  border-radius: 50px;
  border: none;
  width: 200px;
  height: 40px;
  align-items: center;
  margin-left: 20px;
  margin-top: 10px;
  font-size: 16px;
}
#buy-now-button {
  background-color: #f3a41d;
  border-radius: 50px;
  border: none;
  width: 200px;
  height: 40px;
  align-items: center;
  margin-left: 20px;
  margin-top: 10px;
  font-size: 16px;
}
#table {
  font-size: 12px;
  padding: 20px;
}
